<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotatedInterfaceAndTraitOnlyForImpls="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoTestedCode="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Menu Tests">
            <directory>tests/Menu</directory>
        </testsuite>
        <testsuite name="Page Tests">
            <directory>tests/Page</directory>
        </testsuite>
        <testsuite name="SEO Tests">
            <directory>tests/Seo</directory>
        </testsuite>
        <testsuite name="Media Tests">
            <directory>tests/Media</directory>
        </testsuite>
        <testsuite name="Auth Tests">
            <directory>tests/Auth</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix="Interface.php">src</directory>
        </exclude>
    </coverage>
</phpunit>
