<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Menu Tests">
            <directory>tests/Menu</directory>
        </testsuite>
        <testsuite name="Page Tests">
            <directory>tests/Page</directory>
        </testsuite>
        <testsuite name="SEO Tests">
            <directory>tests/Seo</directory>
        </testsuite>
        <testsuite name="Media Tests">
            <directory>tests/Media</directory>
        </testsuite>
        <testsuite name="Auth Tests">
            <directory>tests/Auth</directory>
        </testsuite>
        <testsuite name="PageBuilder Tests">
            <directory>tests/PageBuilder</directory>
        </testsuite>
        <testsuite name="Support Tests">
            <directory>tests/Support</directory>
        </testsuite>
        <testsuite name="Routing Tests">
            <directory>tests/Routing</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix="Interface.php">src</directory>
        </exclude>
    </source>
</phpunit>
